@model CPSC471.Models.DBcon

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <h3><b>HTTPPost Method</b></h3>
    @using (Html.BeginForm("AddHospital", "Test", FormMethod.Post))
    {
        <table>
            <tr>
                <td>Enter ID: </td>
                <td>@Html.TextBox("Id")</td>
            </tr>
            <tr>
                <td>Enter Name: </td>
                <td>@Html.TextBox("Name")</td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    }
    <h4 style="color:purple">
        ID: @ViewBag.Id<br />
        Name: @ViewBag.Name<br />
    </h4>
<div>
      
</div>
</body>
</html>